<div class="alert alert-success alert-dismissible alert-fixed-bottom hide">
    <button type="button" class="close close-alert"><span aria-hidden="true">&times;</span></button>
    <div class="alert-content"></div>
</div>
<div class="alert alert-danger alert-dismissible alert-fixed-bottom hide">
    <button type="button" class="close close-alert"><span aria-hidden="true">&times;</span></button>
    <div class="alert-content"></div>
</div>