{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} - oooooooooooooooo
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('admin_index') }}">{{ 'app.admin.index' | trans | capitalize }}</a>
                </li>
                <li class="active">
                    oooooooooooooooo
                </li>
            </ol>
        </div>
    </div>
    <h1>oooooooooooooooo</h1>
    {% for paramForm in paramsFormsTab %}
        {{ paramForm | raw }}
    {% endfor %}
{% endblock %}