{{ form_start(form, { 
    'attr': {
        'role' : 'form',
        'id' : 'user_change_role_form'
    }})
}}
    {{ form_row(form.roles) }}
    <button class="btn btn-primary" type="submit">{{ 'app.submit' | trans | capitalize }}</button>
{{ form_end(form) }}