{#
    params : 
        - form : ArticleSubCategoryForm object
#}
{{ form_start(form, { 
    'attr': {
        'role' : 'form',
        'id' : 'article-sub-category-form'
    },
    'action' : path('admin_sub_category_create')
}) }}
    {{ form_row(form.articleSubCategory) }}
    <button class="btn btn-primary" type="submit">{{ 'app.submit' | trans | capitalize }}</button>
{{ form_end(form) }}