<div class="modal fade" id="modal-confirm" tabindex="-1" role="dialog" aria-labelledby="modal-confirm-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal-confirm-label">{{ 'app.confirm' | trans | capitalize }}</h4>
            </div>
            <div class="modal-body">
                <p>{{ 'app.msg_confirm' | trans | capitalize }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'app.no' | trans | capitalize }}</button>
                <a class="btn btn-danger" id="modal-confirm-btn-ok">{{ 'app.yes' | trans | capitalize }}</a>
            </div>
        </div>
    </div>
</div>