{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} - Home{% endblock %}

{% block body %}
    <div class="row">
        {# include 'AppBundle:blocs:articleCarousel.html.twig' with {'articles' : lastArticles} #}
    </div>
    <div class="row">
        <div class="col-md-8">
            <h1 class="page-header">Articles</h1>
            {% for article in articles %}
                {% include 'AppBundle:blocs:articleTeaser.html.twig' with {'article' : article} %}
                <hr>
            {% else %}
                "No data found"
                <hr>
            {% endfor %}
            <nav class="text-center">
                {% include 'AppBundle:blocs:pagination.html.twig' with {'pagination' : articlesPagination} %}
            </nav>
        </div>
        <div class="col-md-4">
            <div class="well">
                <h4>Blog Search</h4>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="well">
                <h4>Categories</h4>
                {% include 'AppBundle:blocs:articleCategories.html.twig' with {'categories' : categories} %}
            </div>
        </div>
    </div>
{% endblock %}
