{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} - Register{% endblock %}

{% block body %}
    <h2>Register</h2>
    {% include 'AppBundle:forms:registerForm.html.twig' with {
        'form' : form
    } %}
{% endblock %}