{% extends '::base.html.twig' %}
{% block title %}
    {{ parent() }} - {{ 'app.user.register' | trans }}
{% endblock %}
{% block body %}
    <h2>{{ 'app.user.register' | trans }}</h2>
    <section class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="well">
                {% include 'AppBundle:forms:registerForm.html.twig' with { 'form' : form } %}
            </div>
        </div>
    </section>
{% endblock %}