{% extends '::base.html.twig' %}
{% block title %}
    {{ parent() }} - {{ 'app.login' | trans }}
{% endblock %}
{% block body %}
    <h2>{{ 'app.login' | trans }}</h2>
    <section class="row">
        <div class="col-md-8 col-md-offset-2{% if error %} animated shake{% endif %}">
            <div class="well">
                {% include 'AppBundle:forms:loginForm.html.twig' with { 'error' : error, 'form' : form } %}
            </div>
        </div>
    </section>
{% endblock %}