<strong>{{ comment.createdAt | date("F jS \\a\\t g:ia") }}</strong> : {{ comment.articleComment }}
<br>
<strong>For article</strong> : <a href="{{ path('article_show', { id: comment.article.id }) }}">{{ comment.article.title }}</a>
