<div id="content" class="row">
    <div class="col-md-12">
        {% for article in articles %}
            <div class="row">
                <div class="col-md-12">
                     {% include 'AppBundle:blocs:articleTeaser.html.twig' with { 'article' : article } %}
                     <hr>
                 </div>
             </div>
        {% else %}
            "No data found"
            <hr>
        {% endfor %}
    </div>
</div>