<div class="media">
    {# comment.user.avatar #}
    <a class="pull-left" href="#">
        <img class="media-object" src="http://placehold.it/65x65"alt=""> 
    </a>
    <div class="media-body">
        <h4 class="media-heading">
            {{ comment.user.name }}
            <small>{{ comment.createdAt|date("F jS \\a\\t g:ia") }}</small>
        </h4>
        {{ comment.articleComment }}
    </div>
</div>
